@import '../../media.scss';

.contacts {
    padding: 6rem 0 0;
    margin: 0 0 6rem;

    &__title {
        text-align: center;
        margin: 0 0 2.4rem;
        color: var(--primary);
        text-transform: uppercase;
        font-size: 4rem;
        font-weight: bold;
    }
    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0 6rem;

        @include tablet-s {
            display: flex;
            flex-direction: column-reverse;
            gap: 0;
            align-items: center;
        }
    }

    &__item {
        font-size: 1.4rem;
    }

    &__location {
        margin: 0 1.9rem 0 0;
        -webkit-mask: url("data:image/svg+xml,%3Csvg width='18' height='26' viewBox='0 0 18 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_6_34)'%3E%3Cpath d='M8.7762 26.0002C8.50574 25.7411 8.21279 25.5024 7.96968 25.2172C7.60988 24.7958 7.27924 24.3464 6.9474 23.9001C6.33962 23.0828 5.713 22.2781 5.14411 21.4321C4.42572 20.3633 3.73589 19.2722 3.07341 18.1639C2.22556 16.7449 1.46705 15.2712 0.923084 13.6938C0.619802 12.814 0.356633 11.9133 0.154243 11.0023C0.026001 10.4237 -0.0147202 9.80808 0.00412095 9.21287C0.0466655 7.85631 0.325029 6.55131 0.906066 5.32207C1.31692 4.45377 1.81895 3.6625 2.45651 2.9578C3.42349 1.88834 4.54484 1.08051 5.87466 0.579519C6.71158 0.26441 7.55943 0.0753447 8.44922 0.0186888C9.6271 -0.0564281 10.7643 0.105901 11.8807 0.482758C12.9346 0.838609 13.8858 1.40135 14.7355 2.13278C15.6775 2.94379 16.433 3.92859 16.9989 5.06425C17.4425 5.95483 17.758 6.89889 17.8868 7.89069C17.9774 8.58584 18.0309 9.30136 17.9822 9.99841C17.8996 11.178 17.6376 12.3309 17.2031 13.4277C16.8591 14.296 16.5266 15.1758 16.0999 16.0001C15.4648 17.2287 14.7811 18.4325 14.0621 19.6096C13.4464 20.6166 12.7705 21.5862 12.0856 22.5442C11.496 23.3686 10.8621 24.1586 10.2337 24.9511C9.97596 25.2764 9.68362 25.5712 9.40222 25.8748C9.35177 25.9289 9.27701 25.9588 9.21381 25.9996H8.77681L8.7762 26.0002ZM4.50291 9.41148C4.39594 11.842 6.61068 14.4233 9.41923 14.1171C11.5519 13.8841 13.5193 12.0457 13.5284 9.38475C13.5369 6.95427 11.6078 4.45695 8.54403 4.69949C6.49825 4.86182 4.45611 6.80404 4.50291 9.41085V9.41148Z' fill='%23B88D57'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_6_34'%3E%3Crect width='18' height='26' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A")
            center center / contain no-repeat;
        background-color: var(--primary);
        width: 1.8rem;
        height: 2.6rem;
        transition: all 0.3s;

        &:hover {
            background-color: var(--hover);
        }
    }
    &__tel-icon {
        margin: 0 1.9rem 0 0;
        -webkit-mask: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.22527 0C4.52491 0.130686 4.8321 0.251319 5.12669 0.397085C5.25007 0.457401 5.35583 0.562955 5.45403 0.66097C6.28495 1.48781 7.11335 2.31716 7.94427 3.14401C8.28167 3.47826 8.55865 3.84519 8.62663 4.33275C8.69713 4.8379 8.60397 5.30284 8.32196 5.73511C8.05506 6.13973 7.63456 6.30309 7.22162 6.48404C6.80112 6.6675 6.50653 6.98165 6.30257 7.38628C5.99287 8.00452 6.1666 8.59764 6.40329 9.18572C6.68782 9.88691 7.09321 10.5177 7.60183 11.0706C8.03743 11.5456 8.48059 12.0156 8.97159 12.4328C9.6741 13.0284 10.4496 13.521 11.3536 13.7648C11.9125 13.9156 12.4312 13.7623 12.9071 13.4556C13.2974 13.2043 13.4938 12.8173 13.66 12.4026C13.8942 11.8145 14.3449 11.4778 14.9618 11.3647C15.6844 11.2315 16.2862 11.4727 16.7948 11.9779C17.6534 12.8324 18.507 13.6919 19.3682 14.5439C19.8516 15.0214 20.0732 15.5944 19.9851 16.2654C19.9297 16.6851 19.7559 17.0721 19.4538 17.3787C18.8067 18.0397 18.1596 18.7007 17.4898 19.339C17.1196 19.6909 16.6488 19.8819 16.1427 19.9447C15.7725 19.9899 15.3873 20.0226 15.0197 19.9799C14.5262 19.9196 14.0326 19.8115 13.5593 19.6657C12.3884 19.3064 11.2982 18.7685 10.2708 18.1076C9.60611 17.6778 8.94641 17.238 8.30937 16.7705C7.86621 16.4463 7.45831 16.0694 7.04536 15.7075C6.60472 15.3204 6.16157 14.9334 5.74107 14.5212C5.35331 14.1417 4.99073 13.7346 4.62311 13.335C4.42671 13.1214 4.23283 12.9078 4.04902 12.6816C3.6814 12.2317 3.31126 11.7844 2.96127 11.3219C2.22351 10.3443 1.58647 9.30133 1.04763 8.20306C0.667422 7.429 0.377859 6.61975 0.166352 5.78537C0.0933314 5.49887 0.0832596 5.19477 0.0404547 4.89822C0.0354188 4.86554 0.0152752 4.83287 0.00268555 4.8002C0.00268555 4.56647 0.00268555 4.33275 0.00268555 4.09651C0.0152752 4.06383 0.0404547 4.03368 0.0429726 4.00101C0.0908135 3.32747 0.355197 2.75195 0.831088 2.27444C1.39762 1.70897 1.96164 1.14099 2.53322 0.580548C2.64149 0.474994 2.75983 0.36944 2.89328 0.29907C3.10479 0.185976 3.33644 0.0980146 3.56054 0C3.78211 0 4.00369 0 4.22527 0Z' fill='%23B88D57'/%3E%3C/svg%3E%0A")
            center center / contain no-repeat;
        background-color: var(--primary);
        width: 1.8rem;
        height: 2.6rem;
        transition: all 0.3s;

        &:hover {
            background-color: var(--hover);
        }
    }
    &__mail-icon {
        margin: 0 1.9rem 0 0;
        -webkit-mask: url("data:image/svg+xml,%3Csvg width='22' height='15' viewBox='0 0 22 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_33_204)'%3E%3Cpath d='M21.9999 13.4578C21.9586 13.5547 21.913 13.6516 21.876 13.7506C21.7956 13.9635 21.7761 13.9719 21.6218 13.816C21.4328 13.6284 21.2568 13.4304 21.0656 13.245C19.1556 11.3887 17.2435 9.53236 15.3293 7.67606C15.275 7.62338 15.2098 7.57703 15.1055 7.49275C15.3228 7.29679 15.5227 7.13033 15.7073 6.95124C17.5086 5.2045 19.3099 3.45777 21.109 1.70682C21.2894 1.53194 21.4632 1.34862 21.6327 1.1632C21.763 1.01993 21.8239 1.07892 21.8717 1.2222C21.913 1.3423 21.9564 1.4603 21.9977 1.57829V13.4514L21.9999 13.4578Z' fill='%23B88D57'/%3E%3Cpath d='M1.12546 0.118094C1.40576 0.0801674 1.68606 0.0064211 1.96635 0.0064211C5.21692 -0.00200705 8.46749 9.99881e-05 11.7159 9.99881e-05C14.4928 9.99881e-05 17.2718 -0.00411409 20.0487 0.0064211C20.3116 0.0064211 20.5746 0.0864885 20.8918 0.137057C19.9575 1.05573 19.084 1.92172 18.2018 2.77928C15.9725 4.94742 13.7388 7.11135 11.5073 9.27528C11.2226 9.5513 10.7164 9.53444 10.4078 9.23525C9.63213 8.48514 8.85643 7.73503 8.08507 6.98072C6.55322 5.48472 5.02571 3.9824 3.49603 2.4864C2.70946 1.71734 1.92072 0.952481 1.13416 0.185519C1.12981 0.162342 1.12764 0.139164 1.12329 0.115987L1.12546 0.118094Z' fill='%23B88D57'/%3E%3Cpath d='M1.0908 14.8758C3.33968 12.6971 5.54294 10.5648 7.76141 8.41772C8.00912 8.65793 8.27203 8.92131 8.54363 9.17626C8.95213 9.56395 9.3541 9.95797 9.77998 10.3246C10.0646 10.569 10.4145 10.6933 10.8077 10.7123C11.3227 10.7355 11.792 10.6343 12.207 10.3309C12.2679 10.2867 12.3265 10.234 12.3809 10.1813C12.9545 9.62716 13.5281 9.07512 14.0952 8.51465C14.2147 8.39665 14.2864 8.40298 14.4038 8.51886C16.2355 10.3077 18.0737 12.0903 19.9076 13.8771C20.2226 14.1847 20.5247 14.5071 20.881 14.8737C20.566 14.92 20.2944 14.9959 20.0227 14.9959C16.6418 15.0043 13.263 15.0001 9.8821 15.0001C7.23993 15.0001 4.59776 15.0043 1.95559 14.9959C1.67746 14.9959 1.39717 14.9221 1.08862 14.8779L1.0908 14.8758Z' fill='%23B88D57'/%3E%3Cpath d='M0.223802 1.01758C0.493235 1.29571 0.732247 1.55277 0.982123 1.79718C2.87684 3.64084 4.77156 5.4845 6.67062 7.32394C6.80968 7.45879 6.81185 7.54097 6.67062 7.67582C4.75635 9.53001 2.84642 11.3884 0.936494 13.2468C0.701827 13.4765 0.480198 13.7188 0.223802 13.9843C0.0651852 13.683 0 13.4343 0 13.1646C0.00434568 11.8604 0 10.554 0 9.24977C0 6.78665 0 4.32141 0 1.85829C0 1.58016 0.0608395 1.32521 0.223802 1.01758Z' fill='%23B88D57'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_33_204'%3E%3Crect width='22' height='15' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A")
            center center / contain no-repeat;
        background-color: var(--primary);
        width: 1.8rem;
        height: 2.6rem;
        transition: all 0.3s;

        &:hover {
            background-color: var(--hover);
        }
    }
}
