@import '../../media.scss';

.mobile-menu {
    width: 100%;
    border-bottom: 1px solid var(--primary);
    display: none;

    @include tablet-s {
        display: block;
    }

    &__whatsapp {
        -webkit-mask: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.00475991 27.1946C0.126138 26.7552 0.228476 26.3867 0.328434 26.0206C0.692567 24.6884 1.05194 23.3561 1.41845 22.0239C1.57315 21.4593 1.74689 20.8995 1.89682 20.3349C1.91824 20.2546 1.87064 20.146 1.83257 20.0586C1.46605 19.2082 1.02814 18.3791 0.744926 17.5004C0.483131 16.6854 0.361753 15.8232 0.218956 14.9776C0.138037 14.4934 0.0975781 13.995 0.102338 13.506C0.114238 11.7438 0.454571 10.0455 1.11858 8.40613C1.65169 7.08806 2.38709 5.89282 3.29386 4.80623C4.37198 3.51651 5.67143 2.47953 7.14462 1.6575C8.11565 1.11657 9.14379 0.696112 10.2219 0.433915C10.9859 0.247306 11.776 0.162269 12.559 0.0725073C13.0826 0.0134539 13.6181 -0.0243403 14.1417 0.0181782C15.0485 0.0937666 15.96 0.195339 16.8501 0.372499C18.0091 0.601626 19.1206 1.01972 20.1416 1.61026C20.9127 2.0567 21.6552 2.56693 22.3573 3.11494C22.9237 3.55902 23.4402 4.07397 23.9257 4.60781C24.9443 5.73219 25.7559 7.00302 26.2866 8.42031C26.6103 9.28249 26.8625 10.1801 27.0625 11.0801C27.31 12.1903 27.3576 13.3336 27.2481 14.4603C27.1481 15.4618 26.953 16.4657 26.6817 17.4366C26.3009 18.8066 25.6583 20.0798 24.811 21.2278C24.3184 21.8939 23.7781 22.5364 23.1879 23.1199C22.2764 24.0199 21.2363 24.7639 20.094 25.371C19.1134 25.893 18.0853 26.2804 17.0191 26.571C16.4407 26.7292 15.8386 26.8072 15.2389 26.871C14.5867 26.9418 13.9251 26.9938 13.2706 26.9796C12.1259 26.956 11.0002 26.7718 9.90061 26.4434C9.01289 26.1789 8.16325 25.834 7.33264 25.423C7.14462 25.3285 6.83523 25.4301 6.59485 25.4915C4.66233 25.9852 2.73457 26.493 0.806805 26.9938C0.559289 27.0576 0.314154 27.1214 0 27.2017L0.00475991 27.1946ZM3.2772 23.9821C3.46521 23.9325 3.59849 23.8994 3.72939 23.864C4.84797 23.5663 5.96417 23.2593 7.08751 22.9782C7.2898 22.9262 7.54684 22.9049 7.72533 22.9853C8.2632 23.2238 8.76299 23.5474 9.30086 23.7837C11.0406 24.549 12.8613 24.7923 14.7581 24.608C15.7244 24.5159 16.6502 24.3175 17.5593 23.9821C19.4918 23.2711 21.1102 22.1396 22.4192 20.557C23.276 19.52 23.9376 18.3838 24.3636 17.1153C24.842 15.691 25.1038 14.2312 24.93 12.7241C24.8539 12.0651 24.7872 11.4013 24.6397 10.7565C24.2375 8.99903 23.3926 7.45183 22.1931 6.10777C21.6885 5.54322 21.1078 5.033 20.5152 4.55585C19.7536 3.94405 18.8945 3.47399 17.9806 3.11258C17.0262 2.737 16.0433 2.4937 15.0175 2.36851C14.1417 2.25985 13.2682 2.24804 12.4019 2.34252C11.4309 2.44646 10.4861 2.69684 9.56742 3.05589C8.21798 3.58265 7.02801 4.35034 5.97131 5.31882C5.24066 5.98966 4.63139 6.76681 4.10542 7.61009C3.1582 9.13131 2.58939 10.7801 2.45611 12.554C2.38233 13.5367 2.40851 14.5312 2.60843 15.5138C2.88213 16.8484 3.34622 18.1003 4.05306 19.2672C4.18872 19.4916 4.45766 19.6924 4.37436 20.0066C4.15302 20.8475 3.91979 21.6861 3.68655 22.5246C3.55565 22.9994 3.42 23.4719 3.2772 23.9773V23.9821Z' fill='black'/%3E%3Cpath d='M8.96722 7.04879C9.7723 7.03659 9.91094 6.91464 10.3001 7.88291C10.3098 7.90974 10.3171 7.93657 10.3269 7.9634C10.643 8.7268 10.9519 9.49019 11.2754 10.2487C11.397 10.5341 11.3654 10.7731 11.1781 11.0146C10.8936 11.3828 10.6333 11.7731 10.3414 12.134C10.1785 12.3365 10.1517 12.5292 10.2928 12.7365C10.6333 13.2389 10.9544 13.7584 11.3314 14.2316C11.9346 14.9852 12.6643 15.6096 13.4912 16.1047C13.9728 16.3925 14.4812 16.6413 14.9944 16.8681C15.437 17.0632 15.6803 16.9266 16.0743 16.39C16.3272 16.0437 16.6118 15.7193 16.8672 15.3754C17.0448 15.1364 17.2734 15.1242 17.5045 15.2267C18.3387 15.5998 19.1632 15.99 19.9927 16.3754C20.0875 16.4193 20.1726 16.4852 20.2699 16.5193C20.6031 16.6339 20.7223 16.8461 20.7126 17.212C20.6834 18.4241 20.0218 19.3217 18.8933 19.8217C18.1976 20.1314 17.4874 20.2241 16.7723 20.1339C16.1472 20.0558 15.5392 19.8217 14.936 19.6217C13.715 19.2144 12.5913 18.6119 11.5819 17.8144C10.699 17.1144 9.88175 16.3413 9.16667 15.4632C8.37862 14.495 7.60516 13.5218 7.08465 12.3755C6.78792 11.7219 6.58118 11.0365 6.59091 10.317C6.61036 9.09996 7.09682 8.08047 8.01864 7.28049C8.31781 7.01952 8.68508 7.01708 8.96965 7.04879H8.96722Z' fill='black'/%3E%3C/svg%3E%0A")
            center center / cover no-repeat;
        width: 2.4rem;
        height: 2.4rem;
        display: block;
        background-color: var(--text-white);
        transition: all 0.3s;
        margin: 0 2.4rem 0 0;
        color: transparent;

        &:hover {
            background-color: var(--hover);
        }
    }

    &__whatsapp-primary {
        -webkit-mask: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.00475991 27.1946C0.126138 26.7552 0.228476 26.3867 0.328434 26.0206C0.692567 24.6884 1.05194 23.3561 1.41845 22.0239C1.57315 21.4593 1.74689 20.8995 1.89682 20.3349C1.91824 20.2546 1.87064 20.146 1.83257 20.0586C1.46605 19.2082 1.02814 18.3791 0.744926 17.5004C0.483131 16.6854 0.361753 15.8232 0.218956 14.9776C0.138037 14.4934 0.0975781 13.995 0.102338 13.506C0.114238 11.7438 0.454571 10.0455 1.11858 8.40613C1.65169 7.08806 2.38709 5.89282 3.29386 4.80623C4.37198 3.51651 5.67143 2.47953 7.14462 1.6575C8.11565 1.11657 9.14379 0.696112 10.2219 0.433915C10.9859 0.247306 11.776 0.162269 12.559 0.0725073C13.0826 0.0134539 13.6181 -0.0243403 14.1417 0.0181782C15.0485 0.0937666 15.96 0.195339 16.8501 0.372499C18.0091 0.601626 19.1206 1.01972 20.1416 1.61026C20.9127 2.0567 21.6552 2.56693 22.3573 3.11494C22.9237 3.55902 23.4402 4.07397 23.9257 4.60781C24.9443 5.73219 25.7559 7.00302 26.2866 8.42031C26.6103 9.28249 26.8625 10.1801 27.0625 11.0801C27.31 12.1903 27.3576 13.3336 27.2481 14.4603C27.1481 15.4618 26.953 16.4657 26.6817 17.4366C26.3009 18.8066 25.6583 20.0798 24.811 21.2278C24.3184 21.8939 23.7781 22.5364 23.1879 23.1199C22.2764 24.0199 21.2363 24.7639 20.094 25.371C19.1134 25.893 18.0853 26.2804 17.0191 26.571C16.4407 26.7292 15.8386 26.8072 15.2389 26.871C14.5867 26.9418 13.9251 26.9938 13.2706 26.9796C12.1259 26.956 11.0002 26.7718 9.90061 26.4434C9.01289 26.1789 8.16325 25.834 7.33264 25.423C7.14462 25.3285 6.83523 25.4301 6.59485 25.4915C4.66233 25.9852 2.73457 26.493 0.806805 26.9938C0.559289 27.0576 0.314154 27.1214 0 27.2017L0.00475991 27.1946ZM3.2772 23.9821C3.46521 23.9325 3.59849 23.8994 3.72939 23.864C4.84797 23.5663 5.96417 23.2593 7.08751 22.9782C7.2898 22.9262 7.54684 22.9049 7.72533 22.9853C8.2632 23.2238 8.76299 23.5474 9.30086 23.7837C11.0406 24.549 12.8613 24.7923 14.7581 24.608C15.7244 24.5159 16.6502 24.3175 17.5593 23.9821C19.4918 23.2711 21.1102 22.1396 22.4192 20.557C23.276 19.52 23.9376 18.3838 24.3636 17.1153C24.842 15.691 25.1038 14.2312 24.93 12.7241C24.8539 12.0651 24.7872 11.4013 24.6397 10.7565C24.2375 8.99903 23.3926 7.45183 22.1931 6.10777C21.6885 5.54322 21.1078 5.033 20.5152 4.55585C19.7536 3.94405 18.8945 3.47399 17.9806 3.11258C17.0262 2.737 16.0433 2.4937 15.0175 2.36851C14.1417 2.25985 13.2682 2.24804 12.4019 2.34252C11.4309 2.44646 10.4861 2.69684 9.56742 3.05589C8.21798 3.58265 7.02801 4.35034 5.97131 5.31882C5.24066 5.98966 4.63139 6.76681 4.10542 7.61009C3.1582 9.13131 2.58939 10.7801 2.45611 12.554C2.38233 13.5367 2.40851 14.5312 2.60843 15.5138C2.88213 16.8484 3.34622 18.1003 4.05306 19.2672C4.18872 19.4916 4.45766 19.6924 4.37436 20.0066C4.15302 20.8475 3.91979 21.6861 3.68655 22.5246C3.55565 22.9994 3.42 23.4719 3.2772 23.9773V23.9821Z' fill='black'/%3E%3Cpath d='M8.96722 7.04879C9.7723 7.03659 9.91094 6.91464 10.3001 7.88291C10.3098 7.90974 10.3171 7.93657 10.3269 7.9634C10.643 8.7268 10.9519 9.49019 11.2754 10.2487C11.397 10.5341 11.3654 10.7731 11.1781 11.0146C10.8936 11.3828 10.6333 11.7731 10.3414 12.134C10.1785 12.3365 10.1517 12.5292 10.2928 12.7365C10.6333 13.2389 10.9544 13.7584 11.3314 14.2316C11.9346 14.9852 12.6643 15.6096 13.4912 16.1047C13.9728 16.3925 14.4812 16.6413 14.9944 16.8681C15.437 17.0632 15.6803 16.9266 16.0743 16.39C16.3272 16.0437 16.6118 15.7193 16.8672 15.3754C17.0448 15.1364 17.2734 15.1242 17.5045 15.2267C18.3387 15.5998 19.1632 15.99 19.9927 16.3754C20.0875 16.4193 20.1726 16.4852 20.2699 16.5193C20.6031 16.6339 20.7223 16.8461 20.7126 17.212C20.6834 18.4241 20.0218 19.3217 18.8933 19.8217C18.1976 20.1314 17.4874 20.2241 16.7723 20.1339C16.1472 20.0558 15.5392 19.8217 14.936 19.6217C13.715 19.2144 12.5913 18.6119 11.5819 17.8144C10.699 17.1144 9.88175 16.3413 9.16667 15.4632C8.37862 14.495 7.60516 13.5218 7.08465 12.3755C6.78792 11.7219 6.58118 11.0365 6.59091 10.317C6.61036 9.09996 7.09682 8.08047 8.01864 7.28049C8.31781 7.01952 8.68508 7.01708 8.96965 7.04879H8.96722Z' fill='black'/%3E%3C/svg%3E%0A")
            center center / cover no-repeat;
        width: 2.4rem;
        height: 2.4rem;
        display: block;
        background-color: var(--primary);
        transition: all 0.3s;
        color: transparent;

        &:hover {
            background-color: var(--hover);
        }
    }

    &__vk {
        -webkit-mask: url("data:image/svg+xml,%3Csvg width='36' height='22' viewBox='0 0 36 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M31.6438 21.9977C30.8273 21.9977 30.0061 21.9977 29.1895 21.9977C28.9011 22.0115 28.6131 21.9628 28.3426 21.8545C28.0715 21.754 27.8085 21.6297 27.5565 21.4827C27.256 21.2923 26.9718 21.0737 26.7072 20.8295C26.4659 20.6018 26.2363 20.3602 26.0194 20.1059C25.6076 19.6235 25.2122 19.1235 24.8027 18.6412C24.4575 18.2101 24.0863 17.8039 23.6914 17.4252C23.4134 17.1412 23.069 16.9432 22.6947 16.8523C22.6072 16.8373 22.5179 16.8373 22.4304 16.8523C22.2219 16.9029 22.0312 17.0162 21.8805 17.1789C21.7079 17.338 21.5738 17.5398 21.4898 17.7668C21.4313 17.9352 21.3518 18.096 21.2863 18.2693C21.2692 18.3166 21.2559 18.3653 21.2465 18.415C21.2161 18.5306 21.181 18.6487 21.1599 18.7668C21.1389 18.8849 21.1155 19.0783 21.0898 19.2316C21.0168 19.6862 20.9831 20.1471 20.9891 20.6084C20.9912 20.9085 20.9097 21.2024 20.7552 21.4525C20.6698 21.6008 20.5391 21.7127 20.3855 21.7691C20.2834 21.8082 20.1841 21.8553 20.0884 21.9098C19.9587 21.9737 19.8168 22.0039 19.6743 21.9977C19.0161 21.9977 18.3586 21.9977 17.702 21.9977C17.4984 21.9977 17.2949 21.9977 17.0937 21.9977C16.6496 21.9761 16.2085 21.9088 15.7765 21.7967C15.6946 21.7766 15.608 21.7716 15.5261 21.754C15.3904 21.7264 15.2571 21.6988 15.1237 21.6636C14.8897 21.5957 14.6417 21.5254 14.4031 21.45C14.262 21.4082 14.123 21.3587 13.9866 21.3018C13.7223 21.1862 13.4462 21.0983 13.1888 20.9601C12.8168 20.7616 12.4308 20.5908 12.0658 20.3797C11.7329 20.2016 11.4144 19.994 11.1136 19.7592C11.0831 19.7343 11.051 19.7116 11.0176 19.6913C10.6206 19.4266 10.245 19.1265 9.89462 18.7944C9.54368 18.4703 9.19273 18.1387 8.8722 17.7895C8.49139 17.3876 8.13355 16.9614 7.80065 16.5132C7.45907 16.0408 7.09876 15.5811 6.75952 15.1087C6.55831 14.8273 6.3688 14.5359 6.18163 14.2445C5.95234 13.886 5.72618 13.5242 5.50314 13.1591C5.26917 12.7772 5.03521 12.4054 4.81528 12.0084C4.59536 11.6115 4.41287 11.2547 4.19294 10.9055C3.97302 10.5563 3.83264 10.2271 3.65015 9.90053C3.46766 9.57392 3.26177 9.17193 3.0746 8.80261C2.88743 8.43329 2.70026 8.04889 2.51075 7.66198C2.36101 7.36049 2.2066 7.059 2.0592 6.755C1.96328 6.55401 1.87671 6.34548 1.78546 6.14198C1.72229 6.00128 1.65678 5.8631 1.59127 5.72241L1.4041 5.28274C1.33392 5.12948 1.26607 4.97371 1.19588 4.81794C1.12569 4.66218 1.08825 4.58178 1.03912 4.4637C0.98999 4.34561 0.922141 4.17477 0.86131 4.03156C0.627347 3.4914 0.393384 2.95374 0.159421 2.40604C0.0664914 2.1947 0.0124694 1.96607 0.000326654 1.73272C-0.00308702 1.62596 0.0203073 1.52018 0.0680572 1.42647C0.115807 1.33276 0.186154 1.25456 0.271724 1.20009C0.482157 1.05719 0.724712 0.978182 0.973613 0.971461C1.3269 0.943825 1.6755 0.953874 2.0358 0.953874H5.71604C5.78623 0.953874 5.85876 0.953874 5.92895 0.953874C6.2079 0.935183 6.48715 0.985019 6.74548 1.09959C7.03189 1.21257 7.26991 1.4342 7.41461 1.72267C7.59944 2.08194 7.71877 2.47639 7.88254 2.83817C7.92699 2.93867 7.95039 3.04922 7.99484 3.14971C8.12352 3.44869 8.26156 3.74264 8.39258 4.0391C8.5236 4.33556 8.66632 4.69484 8.81137 5.01642C8.90964 5.235 9.02428 5.44353 9.13424 5.65457C9.18805 5.76261 9.24186 5.86813 9.30035 5.97365C9.48753 6.32287 9.6747 6.67461 9.86655 7.02383C10.0163 7.29517 10.166 7.564 10.3345 7.83031C10.5029 8.09663 10.6807 8.41068 10.8609 8.69458C11.041 8.97848 11.1767 9.19706 11.3499 9.42317C11.5631 9.72002 11.792 10.0035 12.0354 10.2724C12.2446 10.5034 12.4953 10.6863 12.7724 10.81C12.9026 10.8634 13.0445 10.8754 13.1809 10.8446C13.3174 10.8139 13.4428 10.7417 13.5421 10.6367C13.6615 10.4846 13.7607 10.3155 13.8369 10.1342C13.9203 9.89514 13.9875 9.64997 14.0381 9.40056C14.0487 9.36118 14.0558 9.3208 14.0592 9.27997C14.1492 8.63862 14.1984 7.99144 14.2066 7.34291C14.1925 6.64195 14.2066 5.94099 14.1949 5.24254C14.1949 4.97371 14.1808 4.70489 14.1644 4.43606C14.1644 4.30039 14.1177 4.16723 14.1083 4.03156C14.0871 3.70673 14.0314 3.38557 13.9422 3.07434C13.852 2.71455 13.6687 2.3896 13.4134 2.13721C13.276 2.01415 13.1252 1.90954 12.9642 1.82568C12.7999 1.73954 12.6303 1.66566 12.4565 1.60459C12.375 1.57855 12.291 1.56253 12.2062 1.55685C11.9956 1.52921 11.9722 1.4664 12.0447 1.25536C12.1294 1.08284 12.2513 0.934642 12.4004 0.823229C12.5645 0.661777 12.757 0.537078 12.9666 0.456419C13.1798 0.357747 13.4027 0.285265 13.631 0.240353C13.7146 0.227793 13.7968 0.206762 13.8767 0.177543C14.1506 0.126294 14.4272 0.0935683 14.7049 0.0795593C15.132 0.0264404 15.5618 0.00210624 15.9917 0.00669973C16.593 0.00669973 17.1943 -0.00837466 17.7932 0.00669973C18.2611 0.0242865 18.7291 0.0845841 19.197 0.139857C19.3936 0.160742 19.5879 0.201969 19.7772 0.262964C20.0515 0.320973 20.3079 0.451347 20.5236 0.642337C20.6869 0.815884 20.8096 1.02856 20.8815 1.2629C21.0049 1.67942 21.0641 2.11475 21.057 2.55176C21.057 2.83064 21.057 3.10951 21.057 3.38839C21.0406 4.04915 21.0149 4.7074 20.9985 5.36565C20.9821 6.0239 20.9774 6.72486 20.9657 7.40572C20.9657 7.71474 20.9494 8.02377 20.9447 8.33279C20.9407 8.7387 20.972 9.14412 21.0383 9.54377C21.0643 9.74473 21.1262 9.9384 21.2208 10.1141C21.2604 10.1882 21.2963 10.2645 21.3284 10.3427C21.4065 10.4817 21.5109 10.6016 21.6349 10.6944C21.6948 10.7445 21.764 10.7801 21.8379 10.7988C21.9119 10.8174 21.9886 10.8187 22.063 10.8025C22.2424 10.7664 22.4096 10.6797 22.5473 10.5512C23.0055 10.166 23.4118 9.71454 23.7546 9.20962C23.8575 9.06139 23.9698 8.91567 24.0704 8.76241C24.2061 8.55639 24.3395 8.34535 24.4682 8.13431C24.6647 7.81775 24.8589 7.50119 25.0484 7.1796C25.163 6.98614 25.2637 6.78515 25.3713 6.58919C25.4789 6.39322 25.5818 6.21735 25.6824 6.02892C25.783 5.84049 25.9 5.60433 26.003 5.38826C26.1059 5.17219 26.2369 4.88578 26.3422 4.65213C26.4475 4.41847 26.5364 4.24763 26.623 4.0391C26.7704 3.68485 26.9107 3.32558 27.0535 2.96631C27.1658 2.68492 27.2874 2.40102 27.3904 2.11963C27.4325 2.01159 27.4769 1.90607 27.5097 1.79553C27.5888 1.54461 27.7265 1.31969 27.9098 1.1423C27.9238 1.1423 27.9355 1.10713 27.9519 1.10211C28.1 1.02702 28.2577 0.976206 28.4198 0.951362C28.6935 0.951362 28.9673 0.951362 29.2434 0.951362H34.1566C34.3391 0.951362 34.5239 0.951362 34.7064 0.951362C34.8234 0.951362 34.9404 0.99156 35.055 1.01166L35.2632 1.05437C35.4851 1.0894 35.6882 1.20781 35.8364 1.38852C35.9318 1.50759 35.9856 1.65861 35.9885 1.81563C35.9885 2.17669 35.915 2.53338 35.7733 2.86079C35.5955 3.30799 35.4013 3.74515 35.1977 4.1798C35.0878 4.41345 34.945 4.63203 34.814 4.85312C34.683 5.07421 34.5192 5.3355 34.3718 5.57669C34.3087 5.67719 34.2525 5.78271 34.187 5.8832C34.0373 6.10932 33.8828 6.33543 33.7308 6.56155C33.5787 6.78767 33.3845 7.0791 33.2067 7.33537C32.9119 7.76499 32.6148 8.18958 32.3153 8.61418C32.0603 8.97345 31.8006 9.3277 31.5479 9.68697C31.2952 10.0462 31.0449 10.4206 30.7945 10.7899C30.6892 10.9457 30.5816 11.1015 30.4857 11.2622C30.298 11.5611 30.169 11.8979 30.1067 12.2521C30.0501 12.5386 30.0987 12.8374 30.2424 13.0863C30.2892 13.1616 30.3126 13.2521 30.3547 13.3375C30.5029 13.5724 30.6722 13.7912 30.86 13.9907C31.1408 14.3349 31.4707 14.6238 31.7772 14.9404C31.8942 15.0635 32.0252 15.1766 32.1468 15.2921L32.2498 15.3977C32.4627 15.6213 32.6779 15.8424 32.8885 16.0685C33.0523 16.2418 33.216 16.4177 33.3751 16.5986C33.6653 16.9252 33.9577 17.2493 34.2361 17.586C34.4444 17.8372 34.6339 18.0884 34.8281 18.3598C35.1885 18.8309 35.5022 19.3412 35.7639 19.8823C35.9329 20.172 36.0145 20.5107 35.9979 20.8521C35.9768 21.0237 35.913 21.1861 35.813 21.3219C35.6671 21.5289 35.4614 21.6782 35.2281 21.7465C35.0503 21.7967 34.8819 21.8847 34.7017 21.9274C34.5355 21.9648 34.3661 21.9833 34.1964 21.9827C33.3611 21.9827 32.5235 21.9827 31.6859 21.9827L31.6438 21.9977Z' fill='white'/%3E%3C/svg%3E%0A")
            center top / contain no-repeat;
        width: 3.6rem;
        height: 2.2rem;
        display: block;
        background-color: var(--primary);
        transition: all 0.3s;
        color: transparent;

        &:hover {
            background-color: var(--hover);
        }
    }

    &__location {
        display: flex;
        justify-content: space-between;
        margin: 0 0 2.4rem;
        font-size: 1.6rem;
        text-align: left;
        align-items: flex-end;
    }

    &__location-icon {
        -webkit-mask: url("data:image/svg+xml,%3Csvg width='18' height='26' viewBox='0 0 18 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_6_34)'%3E%3Cpath d='M8.7762 26.0002C8.50574 25.7411 8.21279 25.5024 7.96968 25.2172C7.60988 24.7958 7.27924 24.3464 6.9474 23.9001C6.33962 23.0828 5.713 22.2781 5.14411 21.4321C4.42572 20.3633 3.73589 19.2722 3.07341 18.1639C2.22556 16.7449 1.46705 15.2712 0.923084 13.6938C0.619802 12.814 0.356633 11.9133 0.154243 11.0023C0.026001 10.4237 -0.0147202 9.80808 0.00412095 9.21287C0.0466655 7.85631 0.325029 6.55131 0.906066 5.32207C1.31692 4.45377 1.81895 3.6625 2.45651 2.9578C3.42349 1.88834 4.54484 1.08051 5.87466 0.579519C6.71158 0.26441 7.55943 0.0753447 8.44922 0.0186888C9.6271 -0.0564281 10.7643 0.105901 11.8807 0.482758C12.9346 0.838609 13.8858 1.40135 14.7355 2.13278C15.6775 2.94379 16.433 3.92859 16.9989 5.06425C17.4425 5.95483 17.758 6.89889 17.8868 7.89069C17.9774 8.58584 18.0309 9.30136 17.9822 9.99841C17.8996 11.178 17.6376 12.3309 17.2031 13.4277C16.8591 14.296 16.5266 15.1758 16.0999 16.0001C15.4648 17.2287 14.7811 18.4325 14.0621 19.6096C13.4464 20.6166 12.7705 21.5862 12.0856 22.5442C11.496 23.3686 10.8621 24.1586 10.2337 24.9511C9.97596 25.2764 9.68362 25.5712 9.40222 25.8748C9.35177 25.9289 9.27701 25.9588 9.21381 25.9996H8.77681L8.7762 26.0002ZM4.50291 9.41148C4.39594 11.842 6.61068 14.4233 9.41923 14.1171C11.5519 13.8841 13.5193 12.0457 13.5284 9.38475C13.5369 6.95427 11.6078 4.45695 8.54403 4.69949C6.49825 4.86182 4.45611 6.80404 4.50291 9.41085V9.41148Z' fill='%23B88D57'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_6_34'%3E%3Crect width='18' height='26' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A")
            center center / contain no-repeat;
        background-color: var(--primary);
        width: 2.2rem;
        height: 2.6rem;
        transition: all 0.3s;
        color: transparent;

        &:hover {
            background-color: var(--hover);
        }
    }

    &__in {
        -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 26 26' width='52px' height='52px'%3E%3Cpath d='M 7.546875 0 C 3.390625 0 0 3.390625 0 7.546875 L 0 18.453125 C 0 22.609375 3.390625 26 7.546875 26 L 18.453125 26 C 22.609375 26 26 22.609375 26 18.453125 L 26 7.546875 C 26 3.390625 22.609375 0 18.453125 0 Z M 7.546875 2 L 18.453125 2 C 21.527344 2 24 4.46875 24 7.546875 L 24 18.453125 C 24 21.527344 21.53125 24 18.453125 24 L 7.546875 24 C 4.472656 24 2 21.53125 2 18.453125 L 2 7.546875 C 2 4.472656 4.46875 2 7.546875 2 Z M 20.5 4 C 19.671875 4 19 4.671875 19 5.5 C 19 6.328125 19.671875 7 20.5 7 C 21.328125 7 22 6.328125 22 5.5 C 22 4.671875 21.328125 4 20.5 4 Z M 13 6 C 9.144531 6 6 9.144531 6 13 C 6 16.855469 9.144531 20 13 20 C 16.855469 20 20 16.855469 20 13 C 20 9.144531 16.855469 6 13 6 Z M 13 8 C 15.773438 8 18 10.226563 18 13 C 18 15.773438 15.773438 18 13 18 C 10.226563 18 8 15.773438 8 13 C 8 10.226563 10.226563 8 13 8 Z'/%3E%3C/svg%3E")
            center top / contain no-repeat;
        display: block;
        background-color: var(--primary);
        width: 3.6rem;
        height: 2.2rem;
        transition: all 0.3s;
        color: transparent;

        &:hover {
            background-color: var(--hover);
        }
    }

    &__open {
        -webkit-mask: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='13' height='1.85714' fill='%23B88D57'/%3E%3Crect y='5.57143' width='13' height='1.85714' fill='%23B88D57'/%3E%3Crect y='11.1429' width='13' height='1.85714' fill='%23B88D57'/%3E%3C/svg%3E%0A")
            center center / cover no-repeat;
        width: 2.4rem;
        height: 2.4rem;
        display: block;
        background-color: var(--primary);
        transition: all 0.3s;
        cursor: pointer;

        &:hover {
            background-color: var(--hover);
        }
    }

    &__close {
        -webkit-mask: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline y1='-1' x2='18' y2='-1' transform='matrix(0.707107 0.707107 0.707107 -0.707107 1.99988 0)' stroke='%23B88D57' stroke-width='2'/%3E%3Cline x1='13.435' y1='0.707107' x2='0.70709' y2='13.435' stroke='%23B88D57' stroke-width='2'/%3E%3C/svg%3E%0A")
            center center / cover no-repeat;
        width: 2.4rem;
        height: 2.4rem;
        display: block;
        background-color: var(--primary);
        transition: all 0.3s;
        cursor: pointer;

        &:hover {
            background-color: var(--hover);
        }
    }

    &__wrap {
        background: #2d2d2d;
        color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 99;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        min-height: 1000px;
    }

    &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 2.4rem 0;
    }

    &__head-open {
        width: 100%;
        border-bottom: 1px solid var(--primary);
        margin: 0 0 2.4rem;
        display: flex;
        align-items: center;
        gap: 18rem;
        justify-content: flex-end;
        padding: 0 2.4rem 0 0;
    }

    &__menu {
        padding: 0 2.4rem 0 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: center;
    }

    &__list {
        text-align: right;
    }

    &__item {
        font-size: 3.4rem;
        text-transform: uppercase;
        cursor: pointer;
        margin-bottom: 2.4rem;

        &-submenu {
            margin-bottom: 1.4rem;
            text-align: right;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__contacts-left {
        margin: 0 0 2.4rem;
        display: flex;
        justify-content: space-between;
    }

    &__contacts-right {
        font-size: 2.4rem;
        margin: 0 0 2.4rem;
    }
}

.mobile-menu-mob {
    .mobile-menu {
        &__whatsapp {
            background-color: var(--primary);

            &:hover {
                background-color: var(--hover);
            }
        }

        &__logo {
            g {
                path {
                    fill: var(--text-black);
                }
            }
        }
    }
}
