@import '../../media.scss';

.footer {
    background: var(--text-black);
    color: var(--text-white);
    display: flex;
    padding: 6rem 3rem;

    @include tablet-s {
        flex-direction: column;
    }

    &__img {
        width: fit-content;
        height: fit-content;
    }

    &__left {
        display: flex;
        flex-direction: column;
        width: 100%;
        font-size: 1.4rem;

        @include tablet-s {
            margin: 0 0 2.4rem;
        }
    }

    &__right {
        display: flex;
        width: 100%;
        height: fit-content;

        @include tablet-s {
            flex-direction: column;
        }

        &-right {
            display: flex;
            align-items: center;
        }

        &-vk {
            -webkit-mask: url("data:image/svg+xml,%3Csvg width='36' height='22' viewBox='0 0 36 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M31.6438 21.9977C30.8273 21.9977 30.0061 21.9977 29.1895 21.9977C28.9011 22.0115 28.6131 21.9628 28.3426 21.8545C28.0715 21.754 27.8085 21.6297 27.5565 21.4827C27.256 21.2923 26.9718 21.0737 26.7072 20.8295C26.4659 20.6018 26.2363 20.3602 26.0194 20.1059C25.6076 19.6235 25.2122 19.1235 24.8027 18.6412C24.4575 18.2101 24.0863 17.8039 23.6914 17.4252C23.4134 17.1412 23.069 16.9432 22.6947 16.8523C22.6072 16.8373 22.5179 16.8373 22.4304 16.8523C22.2219 16.9029 22.0312 17.0162 21.8805 17.1789C21.7079 17.338 21.5738 17.5398 21.4898 17.7668C21.4313 17.9352 21.3518 18.096 21.2863 18.2693C21.2692 18.3166 21.2559 18.3653 21.2465 18.415C21.2161 18.5306 21.181 18.6487 21.1599 18.7668C21.1389 18.8849 21.1155 19.0783 21.0898 19.2316C21.0168 19.6862 20.9831 20.1471 20.9891 20.6084C20.9912 20.9085 20.9097 21.2024 20.7552 21.4525C20.6698 21.6008 20.5391 21.7127 20.3855 21.7691C20.2834 21.8082 20.1841 21.8553 20.0884 21.9098C19.9587 21.9737 19.8168 22.0039 19.6743 21.9977C19.0161 21.9977 18.3586 21.9977 17.702 21.9977C17.4984 21.9977 17.2949 21.9977 17.0937 21.9977C16.6496 21.9761 16.2085 21.9088 15.7765 21.7967C15.6946 21.7766 15.608 21.7716 15.5261 21.754C15.3904 21.7264 15.2571 21.6988 15.1237 21.6636C14.8897 21.5957 14.6417 21.5254 14.4031 21.45C14.262 21.4082 14.123 21.3587 13.9866 21.3018C13.7223 21.1862 13.4462 21.0983 13.1888 20.9601C12.8168 20.7616 12.4308 20.5908 12.0658 20.3797C11.7329 20.2016 11.4144 19.994 11.1136 19.7592C11.0831 19.7343 11.051 19.7116 11.0176 19.6913C10.6206 19.4266 10.245 19.1265 9.89462 18.7944C9.54368 18.4703 9.19273 18.1387 8.8722 17.7895C8.49139 17.3876 8.13355 16.9614 7.80065 16.5132C7.45907 16.0408 7.09876 15.5811 6.75952 15.1087C6.55831 14.8273 6.3688 14.5359 6.18163 14.2445C5.95234 13.886 5.72618 13.5242 5.50314 13.1591C5.26917 12.7772 5.03521 12.4054 4.81528 12.0084C4.59536 11.6115 4.41287 11.2547 4.19294 10.9055C3.97302 10.5563 3.83264 10.2271 3.65015 9.90053C3.46766 9.57392 3.26177 9.17193 3.0746 8.80261C2.88743 8.43329 2.70026 8.04889 2.51075 7.66198C2.36101 7.36049 2.2066 7.059 2.0592 6.755C1.96328 6.55401 1.87671 6.34548 1.78546 6.14198C1.72229 6.00128 1.65678 5.8631 1.59127 5.72241L1.4041 5.28274C1.33392 5.12948 1.26607 4.97371 1.19588 4.81794C1.12569 4.66218 1.08825 4.58178 1.03912 4.4637C0.98999 4.34561 0.922141 4.17477 0.86131 4.03156C0.627347 3.4914 0.393384 2.95374 0.159421 2.40604C0.0664914 2.1947 0.0124694 1.96607 0.000326654 1.73272C-0.00308702 1.62596 0.0203073 1.52018 0.0680572 1.42647C0.115807 1.33276 0.186154 1.25456 0.271724 1.20009C0.482157 1.05719 0.724712 0.978182 0.973613 0.971461C1.3269 0.943825 1.6755 0.953874 2.0358 0.953874H5.71604C5.78623 0.953874 5.85876 0.953874 5.92895 0.953874C6.2079 0.935183 6.48715 0.985019 6.74548 1.09959C7.03189 1.21257 7.26991 1.4342 7.41461 1.72267C7.59944 2.08194 7.71877 2.47639 7.88254 2.83817C7.92699 2.93867 7.95039 3.04922 7.99484 3.14971C8.12352 3.44869 8.26156 3.74264 8.39258 4.0391C8.5236 4.33556 8.66632 4.69484 8.81137 5.01642C8.90964 5.235 9.02428 5.44353 9.13424 5.65457C9.18805 5.76261 9.24186 5.86813 9.30035 5.97365C9.48753 6.32287 9.6747 6.67461 9.86655 7.02383C10.0163 7.29517 10.166 7.564 10.3345 7.83031C10.5029 8.09663 10.6807 8.41068 10.8609 8.69458C11.041 8.97848 11.1767 9.19706 11.3499 9.42317C11.5631 9.72002 11.792 10.0035 12.0354 10.2724C12.2446 10.5034 12.4953 10.6863 12.7724 10.81C12.9026 10.8634 13.0445 10.8754 13.1809 10.8446C13.3174 10.8139 13.4428 10.7417 13.5421 10.6367C13.6615 10.4846 13.7607 10.3155 13.8369 10.1342C13.9203 9.89514 13.9875 9.64997 14.0381 9.40056C14.0487 9.36118 14.0558 9.3208 14.0592 9.27997C14.1492 8.63862 14.1984 7.99144 14.2066 7.34291C14.1925 6.64195 14.2066 5.94099 14.1949 5.24254C14.1949 4.97371 14.1808 4.70489 14.1644 4.43606C14.1644 4.30039 14.1177 4.16723 14.1083 4.03156C14.0871 3.70673 14.0314 3.38557 13.9422 3.07434C13.852 2.71455 13.6687 2.3896 13.4134 2.13721C13.276 2.01415 13.1252 1.90954 12.9642 1.82568C12.7999 1.73954 12.6303 1.66566 12.4565 1.60459C12.375 1.57855 12.291 1.56253 12.2062 1.55685C11.9956 1.52921 11.9722 1.4664 12.0447 1.25536C12.1294 1.08284 12.2513 0.934642 12.4004 0.823229C12.5645 0.661777 12.757 0.537078 12.9666 0.456419C13.1798 0.357747 13.4027 0.285265 13.631 0.240353C13.7146 0.227793 13.7968 0.206762 13.8767 0.177543C14.1506 0.126294 14.4272 0.0935683 14.7049 0.0795593C15.132 0.0264404 15.5618 0.00210624 15.9917 0.00669973C16.593 0.00669973 17.1943 -0.00837466 17.7932 0.00669973C18.2611 0.0242865 18.7291 0.0845841 19.197 0.139857C19.3936 0.160742 19.5879 0.201969 19.7772 0.262964C20.0515 0.320973 20.3079 0.451347 20.5236 0.642337C20.6869 0.815884 20.8096 1.02856 20.8815 1.2629C21.0049 1.67942 21.0641 2.11475 21.057 2.55176C21.057 2.83064 21.057 3.10951 21.057 3.38839C21.0406 4.04915 21.0149 4.7074 20.9985 5.36565C20.9821 6.0239 20.9774 6.72486 20.9657 7.40572C20.9657 7.71474 20.9494 8.02377 20.9447 8.33279C20.9407 8.7387 20.972 9.14412 21.0383 9.54377C21.0643 9.74473 21.1262 9.9384 21.2208 10.1141C21.2604 10.1882 21.2963 10.2645 21.3284 10.3427C21.4065 10.4817 21.5109 10.6016 21.6349 10.6944C21.6948 10.7445 21.764 10.7801 21.8379 10.7988C21.9119 10.8174 21.9886 10.8187 22.063 10.8025C22.2424 10.7664 22.4096 10.6797 22.5473 10.5512C23.0055 10.166 23.4118 9.71454 23.7546 9.20962C23.8575 9.06139 23.9698 8.91567 24.0704 8.76241C24.2061 8.55639 24.3395 8.34535 24.4682 8.13431C24.6647 7.81775 24.8589 7.50119 25.0484 7.1796C25.163 6.98614 25.2637 6.78515 25.3713 6.58919C25.4789 6.39322 25.5818 6.21735 25.6824 6.02892C25.783 5.84049 25.9 5.60433 26.003 5.38826C26.1059 5.17219 26.2369 4.88578 26.3422 4.65213C26.4475 4.41847 26.5364 4.24763 26.623 4.0391C26.7704 3.68485 26.9107 3.32558 27.0535 2.96631C27.1658 2.68492 27.2874 2.40102 27.3904 2.11963C27.4325 2.01159 27.4769 1.90607 27.5097 1.79553C27.5888 1.54461 27.7265 1.31969 27.9098 1.1423C27.9238 1.1423 27.9355 1.10713 27.9519 1.10211C28.1 1.02702 28.2577 0.976206 28.4198 0.951362C28.6935 0.951362 28.9673 0.951362 29.2434 0.951362H34.1566C34.3391 0.951362 34.5239 0.951362 34.7064 0.951362C34.8234 0.951362 34.9404 0.99156 35.055 1.01166L35.2632 1.05437C35.4851 1.0894 35.6882 1.20781 35.8364 1.38852C35.9318 1.50759 35.9856 1.65861 35.9885 1.81563C35.9885 2.17669 35.915 2.53338 35.7733 2.86079C35.5955 3.30799 35.4013 3.74515 35.1977 4.1798C35.0878 4.41345 34.945 4.63203 34.814 4.85312C34.683 5.07421 34.5192 5.3355 34.3718 5.57669C34.3087 5.67719 34.2525 5.78271 34.187 5.8832C34.0373 6.10932 33.8828 6.33543 33.7308 6.56155C33.5787 6.78767 33.3845 7.0791 33.2067 7.33537C32.9119 7.76499 32.6148 8.18958 32.3153 8.61418C32.0603 8.97345 31.8006 9.3277 31.5479 9.68697C31.2952 10.0462 31.0449 10.4206 30.7945 10.7899C30.6892 10.9457 30.5816 11.1015 30.4857 11.2622C30.298 11.5611 30.169 11.8979 30.1067 12.2521C30.0501 12.5386 30.0987 12.8374 30.2424 13.0863C30.2892 13.1616 30.3126 13.2521 30.3547 13.3375C30.5029 13.5724 30.6722 13.7912 30.86 13.9907C31.1408 14.3349 31.4707 14.6238 31.7772 14.9404C31.8942 15.0635 32.0252 15.1766 32.1468 15.2921L32.2498 15.3977C32.4627 15.6213 32.6779 15.8424 32.8885 16.0685C33.0523 16.2418 33.216 16.4177 33.3751 16.5986C33.6653 16.9252 33.9577 17.2493 34.2361 17.586C34.4444 17.8372 34.6339 18.0884 34.8281 18.3598C35.1885 18.8309 35.5022 19.3412 35.7639 19.8823C35.9329 20.172 36.0145 20.5107 35.9979 20.8521C35.9768 21.0237 35.913 21.1861 35.813 21.3219C35.6671 21.5289 35.4614 21.6782 35.2281 21.7465C35.0503 21.7967 34.8819 21.8847 34.7017 21.9274C34.5355 21.9648 34.3661 21.9833 34.1964 21.9827C33.3611 21.9827 32.5235 21.9827 31.6859 21.9827L31.6438 21.9977Z' fill='white'/%3E%3C/svg%3E%0A")
                center top / contain no-repeat;
            width: 3.6rem;
            height: 2.2rem;
            display: block;
            background-color: var(--text-white);
            margin: 0 2.4rem 0 0;
            transition: all 0.3s;

            &:hover {
                background-color: var(--hover);
            }
        }

        &-in {
            -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 26 26' width='52px' height='52px'%3E%3Cpath d='M 7.546875 0 C 3.390625 0 0 3.390625 0 7.546875 L 0 18.453125 C 0 22.609375 3.390625 26 7.546875 26 L 18.453125 26 C 22.609375 26 26 22.609375 26 18.453125 L 26 7.546875 C 26 3.390625 22.609375 0 18.453125 0 Z M 7.546875 2 L 18.453125 2 C 21.527344 2 24 4.46875 24 7.546875 L 24 18.453125 C 24 21.527344 21.53125 24 18.453125 24 L 7.546875 24 C 4.472656 24 2 21.53125 2 18.453125 L 2 7.546875 C 2 4.472656 4.46875 2 7.546875 2 Z M 20.5 4 C 19.671875 4 19 4.671875 19 5.5 C 19 6.328125 19.671875 7 20.5 7 C 21.328125 7 22 6.328125 22 5.5 C 22 4.671875 21.328125 4 20.5 4 Z M 13 6 C 9.144531 6 6 9.144531 6 13 C 6 16.855469 9.144531 20 13 20 C 16.855469 20 20 16.855469 20 13 C 20 9.144531 16.855469 6 13 6 Z M 13 8 C 15.773438 8 18 10.226563 18 13 C 18 15.773438 15.773438 18 13 18 C 10.226563 18 8 15.773438 8 13 C 8 10.226563 10.226563 8 13 8 Z'/%3E%3C/svg%3E")
                center top / contain no-repeat;
            display: block;
            background-color: var(--text-white);
            width: 3.6rem;
            height: 2.2rem;
            transition: all 0.3s;
            margin: 0 2.4rem 0 0;

            &:hover {
                background-color: var(--hover);
            }
        }

        &-privacy {
            font-size: 1.6rem;
        }
    }

    &__right-left {
        margin: 0 2.4rem 0 0;
        font-size: 1.4rem;

        @include tablet-s {
            margin: 0 0 2.4rem;
        }
    }
}
