@import '../../media.scss';

.header {
    border-bottom: 1px solid var(--primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.6rem 0;
    position: sticky;
    z-index: 99;
    top: 0;
    background: url(../../assets/images/bg.png) top center/cover no-repeat;

    @include tablet-s {
        display: none;
    }

    &__logo-icon {
        @include tablet-l {
            width: 11rem;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__item {
        text-transform: uppercase;
        margin: 0 2.3rem 0 0;
        cursor: pointer;
        transition: 0.5s all;
        font-size: 2rem;
        text-align: center;
        color: var(--primary);
        font-weight: 500;

        @include tablet-l {
            font-size: 1.6rem;
        }

        &:last-child {
            margin: 0;
        }

        &:hover {
            color: var(--hover);
        }
    }

    &__contacts {
        display: flex;
        align-items: center;

        &-left {
            margin: 0 7rem 0 0;

            @include tablet-l {
                margin: 0 3rem 0 0;
            }
        }

        &-right {
            display: flex;
            font-size: 1.6rem;
        }

        &-whatsapp {
            -webkit-mask: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.00475991 27.1946C0.126138 26.7552 0.228476 26.3867 0.328434 26.0206C0.692567 24.6884 1.05194 23.3561 1.41845 22.0239C1.57315 21.4593 1.74689 20.8995 1.89682 20.3349C1.91824 20.2546 1.87064 20.146 1.83257 20.0586C1.46605 19.2082 1.02814 18.3791 0.744926 17.5004C0.483131 16.6854 0.361753 15.8232 0.218956 14.9776C0.138037 14.4934 0.0975781 13.995 0.102338 13.506C0.114238 11.7438 0.454571 10.0455 1.11858 8.40613C1.65169 7.08806 2.38709 5.89282 3.29386 4.80623C4.37198 3.51651 5.67143 2.47953 7.14462 1.6575C8.11565 1.11657 9.14379 0.696112 10.2219 0.433915C10.9859 0.247306 11.776 0.162269 12.559 0.0725073C13.0826 0.0134539 13.6181 -0.0243403 14.1417 0.0181782C15.0485 0.0937666 15.96 0.195339 16.8501 0.372499C18.0091 0.601626 19.1206 1.01972 20.1416 1.61026C20.9127 2.0567 21.6552 2.56693 22.3573 3.11494C22.9237 3.55902 23.4402 4.07397 23.9257 4.60781C24.9443 5.73219 25.7559 7.00302 26.2866 8.42031C26.6103 9.28249 26.8625 10.1801 27.0625 11.0801C27.31 12.1903 27.3576 13.3336 27.2481 14.4603C27.1481 15.4618 26.953 16.4657 26.6817 17.4366C26.3009 18.8066 25.6583 20.0798 24.811 21.2278C24.3184 21.8939 23.7781 22.5364 23.1879 23.1199C22.2764 24.0199 21.2363 24.7639 20.094 25.371C19.1134 25.893 18.0853 26.2804 17.0191 26.571C16.4407 26.7292 15.8386 26.8072 15.2389 26.871C14.5867 26.9418 13.9251 26.9938 13.2706 26.9796C12.1259 26.956 11.0002 26.7718 9.90061 26.4434C9.01289 26.1789 8.16325 25.834 7.33264 25.423C7.14462 25.3285 6.83523 25.4301 6.59485 25.4915C4.66233 25.9852 2.73457 26.493 0.806805 26.9938C0.559289 27.0576 0.314154 27.1214 0 27.2017L0.00475991 27.1946ZM3.2772 23.9821C3.46521 23.9325 3.59849 23.8994 3.72939 23.864C4.84797 23.5663 5.96417 23.2593 7.08751 22.9782C7.2898 22.9262 7.54684 22.9049 7.72533 22.9853C8.2632 23.2238 8.76299 23.5474 9.30086 23.7837C11.0406 24.549 12.8613 24.7923 14.7581 24.608C15.7244 24.5159 16.6502 24.3175 17.5593 23.9821C19.4918 23.2711 21.1102 22.1396 22.4192 20.557C23.276 19.52 23.9376 18.3838 24.3636 17.1153C24.842 15.691 25.1038 14.2312 24.93 12.7241C24.8539 12.0651 24.7872 11.4013 24.6397 10.7565C24.2375 8.99903 23.3926 7.45183 22.1931 6.10777C21.6885 5.54322 21.1078 5.033 20.5152 4.55585C19.7536 3.94405 18.8945 3.47399 17.9806 3.11258C17.0262 2.737 16.0433 2.4937 15.0175 2.36851C14.1417 2.25985 13.2682 2.24804 12.4019 2.34252C11.4309 2.44646 10.4861 2.69684 9.56742 3.05589C8.21798 3.58265 7.02801 4.35034 5.97131 5.31882C5.24066 5.98966 4.63139 6.76681 4.10542 7.61009C3.1582 9.13131 2.58939 10.7801 2.45611 12.554C2.38233 13.5367 2.40851 14.5312 2.60843 15.5138C2.88213 16.8484 3.34622 18.1003 4.05306 19.2672C4.18872 19.4916 4.45766 19.6924 4.37436 20.0066C4.15302 20.8475 3.91979 21.6861 3.68655 22.5246C3.55565 22.9994 3.42 23.4719 3.2772 23.9773V23.9821Z' fill='black'/%3E%3Cpath d='M8.96722 7.04879C9.7723 7.03659 9.91094 6.91464 10.3001 7.88291C10.3098 7.90974 10.3171 7.93657 10.3269 7.9634C10.643 8.7268 10.9519 9.49019 11.2754 10.2487C11.397 10.5341 11.3654 10.7731 11.1781 11.0146C10.8936 11.3828 10.6333 11.7731 10.3414 12.134C10.1785 12.3365 10.1517 12.5292 10.2928 12.7365C10.6333 13.2389 10.9544 13.7584 11.3314 14.2316C11.9346 14.9852 12.6643 15.6096 13.4912 16.1047C13.9728 16.3925 14.4812 16.6413 14.9944 16.8681C15.437 17.0632 15.6803 16.9266 16.0743 16.39C16.3272 16.0437 16.6118 15.7193 16.8672 15.3754C17.0448 15.1364 17.2734 15.1242 17.5045 15.2267C18.3387 15.5998 19.1632 15.99 19.9927 16.3754C20.0875 16.4193 20.1726 16.4852 20.2699 16.5193C20.6031 16.6339 20.7223 16.8461 20.7126 17.212C20.6834 18.4241 20.0218 19.3217 18.8933 19.8217C18.1976 20.1314 17.4874 20.2241 16.7723 20.1339C16.1472 20.0558 15.5392 19.8217 14.936 19.6217C13.715 19.2144 12.5913 18.6119 11.5819 17.8144C10.699 17.1144 9.88175 16.3413 9.16667 15.4632C8.37862 14.495 7.60516 13.5218 7.08465 12.3755C6.78792 11.7219 6.58118 11.0365 6.59091 10.317C6.61036 9.09996 7.09682 8.08047 8.01864 7.28049C8.31781 7.01952 8.68508 7.01708 8.96965 7.04879H8.96722Z' fill='black'/%3E%3C/svg%3E%0A")
                center center / cover no-repeat;
            width: 2.4rem;
            height: 2.4rem;
            display: block;
            background-color: var(--primary);
            transition: all 0.3s;

            &:hover {
                background-color: var(--hover);
            }
        }

        &-location {
            margin: 0 1.9rem 0 0;
            -webkit-mask: url("data:image/svg+xml,%3Csvg width='18' height='26' viewBox='0 0 18 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_6_34)'%3E%3Cpath d='M8.7762 26.0002C8.50574 25.7411 8.21279 25.5024 7.96968 25.2172C7.60988 24.7958 7.27924 24.3464 6.9474 23.9001C6.33962 23.0828 5.713 22.2781 5.14411 21.4321C4.42572 20.3633 3.73589 19.2722 3.07341 18.1639C2.22556 16.7449 1.46705 15.2712 0.923084 13.6938C0.619802 12.814 0.356633 11.9133 0.154243 11.0023C0.026001 10.4237 -0.0147202 9.80808 0.00412095 9.21287C0.0466655 7.85631 0.325029 6.55131 0.906066 5.32207C1.31692 4.45377 1.81895 3.6625 2.45651 2.9578C3.42349 1.88834 4.54484 1.08051 5.87466 0.579519C6.71158 0.26441 7.55943 0.0753447 8.44922 0.0186888C9.6271 -0.0564281 10.7643 0.105901 11.8807 0.482758C12.9346 0.838609 13.8858 1.40135 14.7355 2.13278C15.6775 2.94379 16.433 3.92859 16.9989 5.06425C17.4425 5.95483 17.758 6.89889 17.8868 7.89069C17.9774 8.58584 18.0309 9.30136 17.9822 9.99841C17.8996 11.178 17.6376 12.3309 17.2031 13.4277C16.8591 14.296 16.5266 15.1758 16.0999 16.0001C15.4648 17.2287 14.7811 18.4325 14.0621 19.6096C13.4464 20.6166 12.7705 21.5862 12.0856 22.5442C11.496 23.3686 10.8621 24.1586 10.2337 24.9511C9.97596 25.2764 9.68362 25.5712 9.40222 25.8748C9.35177 25.9289 9.27701 25.9588 9.21381 25.9996H8.77681L8.7762 26.0002ZM4.50291 9.41148C4.39594 11.842 6.61068 14.4233 9.41923 14.1171C11.5519 13.8841 13.5193 12.0457 13.5284 9.38475C13.5369 6.95427 11.6078 4.45695 8.54403 4.69949C6.49825 4.86182 4.45611 6.80404 4.50291 9.41085V9.41148Z' fill='%23B88D57'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_6_34'%3E%3Crect width='18' height='26' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A")
                center center / contain no-repeat;
            background-color: var(--primary);
            width: 1.8rem;
            transition: all 0.3s;

            &:hover {
                background-color: var(--hover);
            }
        }
    }
}
