@import './variables.scss';
@import './media.scss';

.App {
    position: relative;
    color: var(--text-black);
    background: url(./assets/images/bg.png) top center / contain no-repeat;
    padding: 2.4rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;

    @include tablet-s {
        padding: 0;
    }
}

.container {
    width: 100%;
    margin: 0 auto;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

p {
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    border: none;
    background: transparent;
    cursor: pointer;
    outline: none;
    height: fit-content;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: normal;
    cursor: default;
}

input::-webkit-input-placeholder {
    color: #000;
}

input::-moz-placeholder {
    color: #000;
}

// #root {
//     height: 100%;
// }

body,
html {
    height: 100%;
    position: relative;
    font-family: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

img {
    max-width: 100%;
    object-fit: cover;
    max-height: 100%;
    width: 100%;
    height: 100%;
}

.page-title {
    font-weight: 700;
    font-size: 4rem;
    line-height: 4.8rem;
    letter-spacing: 0.1rem;
    text-align: center;

    color: var(--primary);

    text-transform: uppercase;

    margin: 0 0 1rem 1.4rem;

    @include tablet-s {
        font-size: 2rem;
        line-height: 2.4rem;

        margin: 0 0 0.8rem 0;
    }
}

.page-subtitle {
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 4.3rem;
    letter-spacing: 0.1rem;
    text-align: center;

    text-transform: uppercase;

    @include tablet-s {
        font-size: 1.86rem;
        line-height: 2.66rem;
    }
}

.sign-up {
    display: flex;
    justify-content: center;

    margin: 5.2rem 0 22.1rem 0;

    @include tablet-s {
        margin: 5.2rem 0 6.2rem 0;
    }
}
